/* Utilities */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.nav-container, .header-container, .product-container, .testimony-container {
    padding-left: 150px;
    padding-right: 150px;
}
/* Akhir Utilities */
/* First Content */
.first-container {
    background: #1f2937;
}
/* Navigation */
.nav-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.menu-container {
    display: flex;
    gap: 15px;
}
.company-logo {
    color: #ffff;
    font-size: 24px;
}
.menu-item {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
/* Akhir Navigation */
/* Header */
.header-container {
    padding-top: 45px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.title {
    font-size: 48px;
    color: #ffff;
}
.jargon-paragraph {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 35px;
    margin-bottom: 40px;
}
.signup-btn {
    background: #3882f6;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: #e5e7eb;
}
.imageheader {
    width: 650px;
    height: 450px;
}
/* Akhir Header */
/* Akhir First Content */
/* Product section */
.product-container {
    padding-top: 95px;
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
}
.veg-container {
    padding-top: 35px;
    align-items: center;
    gap: 15px;
    display: flex;
}
.second-title {
    font-size: 36px;
    text-align: center;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vegimg {
    width: 180px;
    height: 180px;
}
.desc-product {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}
/* Akhir product section */
/* Testimony section */
.testimony-container {
    margin-top: 25px;
    padding-top: 75px;
    padding-bottom: 75px;
    background: #e5e7eb;
}
.testimony-title {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}
.testimony-owner {
    text-align: right;
    font-weight: 600;
    color: #1f2937;
}
/* Akhir testimony section */
/* Sign up buttom section */
.signup-container {
    border-radius: 15px;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 105px;
    margin-bottom: 105px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background: #3882f6;
}
.invitation-container {
}
.invitation-title, .invitation-paragraph {
    color: #e5e7eb;
}
.invitation-item {
    text-decoration: none;
    color: #ffff;
}